@charset "UTF-8";
@import url("./reset.css");
/* 초기화 */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, "san-serif";
}

.wrap {
  width: 1050px;
  margin: 0 auto;
}

.slide_1set {
  width: 100%;
}

a {
  text-decoration: none !important;
}
img {
  border: 0;
}
ul {
  list-style: none;
}


/* 회원가입,검색창,카테고리  */
.header_wrap {
  width: 100vw;
  height: 156px;
  box-shadow: 0 10px 10px 2px lightgrey;
}

.header {
  width: 1050px;
  height: 100px;
  position: relative;
  margin: 0px auto;
  letter-spacing: -0.3px;
}

.header_left {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
}

.header_left .sign {
  color: purple;
  cursor: pointer;
}

.header_left .bar {
  width: 1px;
  height: 13px;
  margin: 0px 12px;
  background-color: rgb(217, 217, 217);
}

.header_left .login {
  cursor: pointer;
}

.header_left .center {
  line-height: 35px;
  position: relative;
}

.center .client {
  cursor: pointer;
  padding-bottom: 10px;
}

.center .fa-solid {
  width: 8px;
  height: 5px;
  margin-bottom: 1px;
  display: inline-block;
}

.center .menu_list {
  position: absolute;
  right: 0;
  top: 25px;
  width: 120px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

.menu_list > .center_list {
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}



.header_nav {
  height: 100px;
}

.header_nav .header_logo {
  padding-top: 36px;
  height: 64px;
  align-items: center;
}

.header_nav .header_logo img {
  padding-top: 10px;
}

.header_search {
  position: absolute;
  left: 330px;
  top: 40px;
  width: 400px;
  height: 48px;
  padding-left: 14px;
  border: 1px solid purple;
  border-radius: 6px;
  background-color: white;
  display: flex;
}

.header_input {
  width: 400px;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 0;
}

.header_search .header_x {
  position: relative;
  border: none;
  background: none;
}

.header_search img {
  margin: 0;
  width: 20px;
  height: 20px;
}

.header_search > .header_bt {
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px;
  background: 0px 0px no-repeat;
  color: purple;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header_menu_wrap {
  /* min-width: 1050px; */
  letter-spacing: -0.3px;
  background-color: white;
  position: relative;
  width: 100%;
}

.header_menu_wrap > .header_menu {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1050px;
  height: 56px;
  margin: 0px auto;
  align-items: center;
  font-style: bold;
}

.header_menu > .header_menu2 {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_category {
  padding-bottom: 10px;
}

.header_category:hover {
  color: purple;
}

.header_menu3 a:hover {
  color: purple;
  text-decoration: underline;
}

.header_menu2 span {
  padding-top: 2px;
}

.header_menu2 a {
  padding-left: 5px;
}

.header_menu2 img {
  width: 20px;
  height: 20px;
}
.header_menu3 {
  display: flex;
}

.header_menu3 > .header_menu_list {
  width: 150px;
  height: 31px;
  font-size: 18px;
}

.header_menu .header_main_menu {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 200px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.header_main_menu div {
  padding: 10px 10px 10px 0;
}

.header_main_menu div:hover {
  color: purple;
}

.header_menu .header_sub_menu {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 150px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.header_sub_menu div {
  padding: 10px 10px 10px 0;
}

.header_sub_menu div:hover {
  color: purple;
}


/* 상단 고정 메뉴 */

.fix_menu {
  width: 100vw;

  height: 60px;
  background: #fff;
  box-shadow: 2px 2px 10px 2px lightgray;
  top: 0px;
  position: fixed;
  animation: down 0.5s ease;
}

@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fix_menu2 {
  margin: 0 auto;
  width: 1050px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_submenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_submenu a {
  padding: 0 30px;
}

.fix_submenu a:hover {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
}

.fix_menu3 {
  position: relative;
  cursor: pointer;
}

.fix_category {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px 0 15px 0;
}

.fix_category:hover {
  color: purple;
}

/* 카테고리옆에 메뉴이미지 */
.fix_menu3 img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-top: 2px;
}

.fix_menu_search {
  width: 200px;
  height: 36px;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
}

.fix_menu_input {
  width: 130px;
  height: 20px;
  margin-left: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  margin-top: 8px;
  background-color: inherit;
}

.fix_menu_search .fix_menu_x {
  border: none;
  margin-top: 8px;
  background: none;
  width: 20px;
  height: 20px;
}

.fix_menu_search .fa-solid {
  float: right;
  margin: 9px 10px 0 0;
  background: 0px 0px no-repeat;
  color: purple;
  border: none;
  cursor: pointer;
}

/* 상단고정 카테고리 하위메뉴 */

.fix_category_submenu img {
  width: 20px;
  height: 20px;
}

.fix_category_submenu {
  position: absolute;
  top: 23px;
  width: 200px;
  height: 230px;
  padding: 0 10px 0 0;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.fix_category_submenu div {
  padding: 10px 10px 10px 0;
}

.fix_category_submenu div:hover {
  color: purple;
  cursor: pointer;
}

.fix_category_submenu2 {
  position: absolute;
  left: 200px;
  top: 23px;
  width: 150px;
  height: 220px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.fix_category_submenu2 div {
  padding: 10px 10px 10px 0;
}

.fix_category_submenu2 div:hover {
  color: purple;
  cursor: pointer;
}


/****/


#footer {
  width: 1050px;
  height: 393px;
  padding: 29px;
  margin: 0 auto;
  border-top: 1px solid gray;
  box-sizing: border-box;
}

.footer_content {
  width: 1050px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}




.happiness_contact_stro {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
}

.happiness_contact_btn {
  display: flex;
  margin-bottom: 38px;
}

.contact_btn1 {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid gray;
  line-height: 39px;
  text-align: center;
}

.contact_btn {
  display: block;
  width: 140px;
  height: 40px;
  margin-left: 8px;
  border: 1px solid gray;
  line-height: 39px;
  text-align: center;
}

.happiness_contact_email {
  font-size: 12px;
  line-height: 18px;
  color: gray;
}


.footer_happiness_contact {
  width: 436px;
  height: 222px;
}


.footer_introduce_content {
  width: 520px;
  height: 222px;
  font-size: 14px;
}

.footer_introduce_content_mana {
  width: 100%;
  height: 18px;
  display: flex;
  padding-bottom: 29px;
  text-align: -webkit-match-parent;
}

/* .introduce_content_matt:last-of-type {
  margin-right: 0;
} */

.introduce_content_matt {
  margin-right: 14px;
}

.footer_enterprise {
  width: 100%;
  height: 108px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: gray;
}

.icon_queue {
  width: 300px;
  display: flex;
  padding-top: 28px;
  margin-left: 0px;
}

.icon_pto {
  display: flex;
  width: 30px;
  height: 30px;
  /* margin-right: 10px; */
}


.footer_approve {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid gray;
}

.footer_approve_btn {
  display: flex;
  text-align: left;
  border: 0px;
  background-color: white;
}

.footer_approve_lett {
  font-size: 10px;
  line-height: 14.5px;
  color: gray;
  word-break: break-all;
  padding: 0 20px 0 5px;
}

.footer_rear {
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(222, 226, 225);
}
.footer_happiness_contact > h2 {
  font-size: 20px;
  padding-bottom: 17px;
  line-height: 29px;
  font-weight: 500;
}