@charset "UTF-8";

* {
  margin: 0 auto;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/* 상단고정 메뉴 */

.fix_menu3 {
  margin: 0px;
}

.fix_submenu_menu img {
  width: 20px;
  height: 20px;
}

.fix_submenu_menu {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 200px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.fix_submenu_menu div {
  padding: 10px 10px 10px 0;
}

.fix_submenu_menu2 {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 150px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.fix_submenu_menu2 div {
  padding: 10px 10px 10px 0;
}

/* 회원가입, 검색창, 카테고리 */
.header_wrap {
  width: 1903px;
  height: 156px;
}

.header {
  width: 1050px;
  height: 100px;
  position: relative;
  margin: 0px auto;
  letter-spacing: -0.3px;
}

.header_left {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
}

.header_left .sign {
  color: purple;
  cursor: pointer;
}

.header_left .bar {
  width: 1px;
  height: 13px;
  margin: 0px 12px;
  background-color: rgb(217, 217, 217);
}

.header_left .login {
  cursor: pointer;
}

.header_left .center {
  line-height: 35px;
  position: relative;
}

.center .client {
  cursor: pointer;
}

.center .fa-solid {
  width: 8px;
  height: 5px;
  margin-bottom: 1px;
  display: inline-block;
}

.center .menu_list {
  position: absolute;
  right: 0;
  top: 34px;
  width: 120px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

.menu_list > .center_list {
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.header_nav {
  height: 100px;
}

.header_nav .header_logo {
  padding-top: 36px;
  height: 64px;
  align-items: center;
}

.header_nav .header_logo img {
  padding-top: 10px;
}

.header_search {
  position: absolute;
  left: 330px;
  top: 40px;
  width: 400px;
  height: 48px;
  padding-left: 14px;
  border: 1px solid purple;
  border-radius: 6px;
  background-color: white;
}

.header_input {
  padding-top: 16px;
  width: 280px;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.33px;
}

.header_search .header_x {
  position: relative;
  margin: 10px;
  border: none;
  background: none;
}

.header_search img {
  margin-left: 22px;
  padding-top: 3px;
  width: 20px;
  height: 20px;
}

.header_search > .header_bt {
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px;
  background: 0px 0px no-repeat;
  color: purple;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header_menu_wrap {
  /* min-width: 1050px; */
  letter-spacing: -0.3px;
  background-color: white;
  position: relative;
  width: 100%;
}

.header_menu_wrap > .header_menu {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1050px;
  height: 56px;
  margin: 0px auto;
  align-items: center;
  font-style: bold;
}

.header_menu > .header_menu2 {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_menu2 a:hover {
  color: purple;
}

.header_menu3 a:hover {
  color: purple;
  text-decoration: underline;
}

.header_menu2 span {
  padding-top: 2px;
}

.header_menu2 a {
  padding-left: 5px;
}

.header_menu2 img {
  width: 20px;
  height: 20px;
}
.header_menu3 {
  display: flex;
}

.header_menu3 > .header_menu_list {
  width: 150px;
  height: 31px;
  font-size: 18px;
}

.header_menu .header_main_menu {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 200px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.header_main_menu div {
  padding: 10px 10px 10px 0;
}

.header_main_menu div:hover {
  color: purple;
}

.header_menu .header_sub_menu {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 150px;
  height: 230px;
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: rgb(255, 255, 255);
}

.header_sub_menu div {
  padding: 10px 10px 10px 0;
}

.header_sub_menu div:hover {
  color: purple;
}

.slide_1set {
  width: 1903px;
  height: 370px;
  padding-bottom: 20px;
}

/* 배너 슬라이드 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  color: purple;
  margin-left: 350px;
}

.swiper-button-next {
  color: purple;
  margin-right: 350px;
}

.slider_content .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  height: 370px;
}

.slider_content .slide1 {
  background: url(../img/banner/img01.png);
  background-size: cover;
  /*background-position:center;*/
}

.slider_content .slide2 {
  background: url(../img/banner/img02.png);
  background-size: cover;
  /*background-position:center;*/
}

.slider_content .slide3 {
  background: url(../img/banner/img03.png);
  background-size: cover;
  /*background-position:center;*/
}

/* 4컷 이미지 슬라이드 */
.slide_menu {
  position: relative;
  width: 1900px;
  height: 550px;
  margin: 0 auto;
}

.slide_menu2 {
  width: 1050px;
  height: 550px;
}

.slide_2set {
  width: 1050px;
  height: 427px;
}

.slide_2set .swiper-button-prev {
  color: purple;
  margin-left: -10px;
  background: rgb(227, 227, 227);
  padding: 10px;
  margin-top: -60px;
}

.slide_2set .swiper-button-next {
  color: purple;
  margin-right: -10px;
  margin-top: -60px;
  background: rgb(227, 227, 227);
  padding: 10px;
}

.mySwiper2 .slide4 {
  background: url(../img/product/4-1.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide4 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide5 {
  background: url(../img/product/4-2.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide5 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide6 {
  background: url(../img/product/4-3.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide6 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide7 {
  background: url(../img/product/4-4.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide7 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide8 {
  background: url(../img/product/4-5.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide8 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide9 {
  background: url(../img/product/4-6.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide9 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide10 {
  background: url(../img/product/4-7.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide10 p {
  margin-top: 360px;
  font-weight: bold;
}

.mySwiper2 .slide11 {
  background: url(../img/product/4-8.png);
  background-size: cover;
  background-position: center;
  height: 357px;
}

.mySwiper2 .slide11 p {
  margin-top: 360px;
  font-weight: bold;
}

.title h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 작은 배너 이미지 */
.event_img {
  width: 1905px;
  height: 300px;
}

.event_img2 {
  width: 1050px;
  height: 140px;
  padding: 80px 0px;
}

.event_img2 img {
  width: 100%;
  height: 100%;
}

/* MD추천, 마켓레시피, 전체메뉴버튼 */
.md_wrap {
  width: 1903px;
  height: 900px;
}

.md_wrap .md_wrap2 {
  width: 1050px;
  height: 774px;
}

.md_wrap .md_h {
  width: 1050px;
}

.md_h h1 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 27px;
}

.md_wrap .md_menu {
  width: 1050px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.md_menu > .menu_bt {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  margin: 0 5px 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.md_menu > .menu_bt:hover {
  border-color: plum;
  color: purple;
}

/* 마켓 레시피 */
.title2 {
  padding-top: 60px;
}

.title2 h1 {
  text-align: center;
  margin: 0 0 27px;
}

/* 627px 남음 이미지 슬라이드랑 인기메뉴버튼 이미지338*225 1014 */

.slide_3set {
  width: 1050px;
  height: 340px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.mySwiper3 .slide12 {
  background: url(../img/product/3-1.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.mySwiper3 .slide12 p {
  margin-top: 320px;
  text-align: center;
  font-weight: bold;
}

.mySwiper3 .slide13 {
  background: url(../img/product/3-2.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.mySwiper3 .slide13 p {
  margin-top: 320px;
  text-align: center;
  font-weight: bold;
}

.mySwiper3 .slide14 {
  background: url(../img/product/3-3.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.mySwiper3 .slide14 p {
  margin-top: 320px;
  text-align: center;
  font-weight: bold;
}

.mySwiper3 .slide15 {
  background: url(../img/product/3-4.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.mySwiper3 .slide15 p {
  margin-top: 320px;
  text-align: center;
  font-weight: bold;
}

.mySwiper3 .slide16 {
  background: url(../img/product/3-5.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.mySwiper3 .slide16 p {
  margin-top: 320px;
  text-align: center;
  font-weight: bold;
}

.best_menu {
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 516px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid rgb(227, 227, 227);
  cursor: pointer;
  margin-top: 40px;
}

/* 휠 따라 이동하는 이미지, 상단이동 버튼 */
.bt_move_up button {
  border: none;
  background: none;
  cursor: pointer;
}

.bt_move_up img {
  width: 50px;
  height: 50px;
}

.move_small img {
  width: 90px;
}

.move_small table {
  width: 90px;
  border: 1px solid rgb(217, 217, 217);
  border-collapse: collapse;
  font-size: 14px;
  cursor: pointer;
}

table tr td {
  border: 1px solid rgb(217, 217, 217);
  padding: 5px;
  text-align: center;
}

#STATICMENU {
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.bt_move_up {
  top: 90%;
  left: 96%;
  position: fixed;
}

/* 상단 고정 메뉴 */

.fix_menu {
  width: 1903px;
  height: 60px;
  box-shadow: 2px 2px 10px 2px lightgray;
}

.fix_menu2 {
  width: 1050px;
  height: 60px;
  box-sizing: border-box;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_menu3 {
  display: flex;
}

.fix_menu li {
  list-style: none;
}

.fix_menu3 img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-top: 2px;
}

.fix_menu_search {
  width: 200px;
  height: 36px;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
}

.fix_menu_input {
  width: 130px;
  height: 20px;
  margin-left: 5px;
  font-size: 12px;
  border: none;
  margin-top: 8px;
  background: rgb(221, 221, 221);
}

.fix_menu_search .fix_menu_x {
  border: none;
  margin-top: 8px;
  background: none;
  width: 20px;
  height: 20px;
}

.fix_menu_search .fa-solid {
  float: right;
  margin: 9px 10px 0 0;
  background: 0px 0px no-repeat;
  color: purple;
  border: none;
  cursor: pointer;
}

.fix_submenu {
  box-sizing: border-box;
  margin-left: 150px;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_submenu li {
  padding: 0 30px;
}

.fix_submenu li:hover {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
}

.fix_menu_Kategorie:hover {
  color: purple;
  cursor: pointer;
}
